<header>
  <a href="#" class="logo"></a>
  <nav class="navigation">
    <a href="../services"><i class="fas fa-concierge-bell"></i> Services</a>
    <a href="../projects"><i class="fas fa-project-diagram"></i> Projects</a>
    <a href="../about"><i class="fas fa-user"></i> About</a>
    <a href="../contact"><i class="fas fa-envelope"></i> Contact</a>

    <li *ngIf="isUserAuthenticated()" class="logout-button">
      <button (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</button>
    </li>
  </nav>
</header>
